{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block title_block %} {{ title }} {% endblock %}

{% block body_block %}
<div class="container my-5">
    <div class="my-5">
        <h2>Your Cart</h2>
    </div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" width="15%">SL</th>
            <th scope="col">Product Name</th>
            <th scope="col" class="text-center">Quantity</th>
            <th scope="col" class="text-center">Price</th>
            <th scope="col" class="text-center">Remove</th>
        </tr>
        <tbody>
            {% for cart in carts %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ cart.item.name }}</td>
                <td class="text-center">
                    <a class="mr-2" href="{% url 'Order_App:decrease' pk=cart.item.pk %}"><span class="badge bg-light text-dark"><i class="fa-solid fa-minus"></i></span></a>
                    {{ cart.quantity}}
                    <a class="mr-2" href="{% url 'Order_App:increase' pk=cart.item.pk %}"><span class="badge bg-light text-dark"><i class="fa-solid fa-plus"></i></span></a>
                </td>
                <td class="text-center">&#2547; {{ cart.get_total }}</td>
                <td class="text-center"><a class="btn btn-danger btn-sm" href="{% url 'Order_App:remove' pk=cart.item.pk %}">Remove From Cart</a></td>
            </tr>
            {% endfor %}
            <tr>
                <th scope="row">#</th>
                <td colspan="1">Total</td>
                <td class="text-center" colspan="1">=</td>
                <td class="text-center">&#2547; {{ order.get_totals | floatformat:2 }}</td>
                <td class="text-center"><a href="{% url 'Payment_App:checkout' %}" class="btn btn-success">Proceed To Checkout</a></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td colspan=""></td>
                <td class="text-center">
                    <a href="{% url 'Shop_App:home' %}" class="btn btn-warning">Continue Shop</a>
                </td>
            </tr>
        </tbody>
    </thead>
</table>

</div>
{% endblock %}